section {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.nav-img img {
  width: 140px;
}
.nav-item a:hover {
  color: #a0583c;
  background-color: #ffffff;
}
.nav-link {
  font-family: "Montserrat";
  font-size: 20px;
  transition: all 0.2s;
  border-radius: 5px;
  padding: 3px 6px;
  color: white;
}
.contenido {
  font-family: "Inter";
}
.contenido h1 {
  font-family: "Poppins";
  color: rgb(248, 234, 207);
  font-size: 38px;
  margin-bottom: 4%;
  margin-top: 3%;
}
.contenido p {
  font-family: "Montserrat";
}
.contenido2 h2 {
  font-family: "Poppins";
  color: #a0583c;
  font-size: 1.5rem;
}
.contenido-historia h3 {
  font-family: "Inter";
}
.contenido3 h2 {
  font-family: "Poppins";
  color: #a0583c;
  font-size: 1.5rem;
}
.card {
  background-color: #c08267;
  color: white;
  border-radius: 15px;
  border: 0;
  box-shadow: 6px 12px 13px -3px rgba(125, 125, 125, 0.69);
  -webkit-box-shadow: 6px 12px 13px -3px rgba(125, 125, 125, 0.69);
  -moz-box-shadow: 6px 12px 13px -3px rgba(125, 125, 125, 0.69);
}
.card img {
  border-radius: 20px;
}
.card h3 {
  font-family: "Poppins";
  font-size: 25px;
}
.card p {
  font-family: "Montserrat";
  font-size: 15px;
}
.contenido4 h2 {
  font-family: "Poppins";
  color: #a0583c;
  font-size: 1.5rem;
}
.footer {
  background-color: #c08267;
}
.footer-izq {
  width: 100%;
}
.footer-izq p {
  font-family: "Inter";
}
.footer-der h2 {
  font-family: "Poppins";
  font-size: 22px;
}
.footer-der-redes {
  margin-bottom: 1rem;
}
.tienda {
  height: 30vh;
}
.tienda-titulo h1 {
  font-family: "Poppins";
  font-size: 38px;
}
.tienda-subtitulo p {
  color: #c0aa83;
  font-family: "Inter";
  font-size: 25px;
}
.tienda-secciones {
  display: flex;
  text-align: center;
}
.tienda-secciones img {
  display: flex;
  margin: 0 auto;
}
.tienda-secciones h2 {
  font-family: "Poppins";
  color: #5a6473;
  font-size: 25px;
}
.tienda-secciones p {
  color: #5a6473;
  font-family: "Montserrat";
  font-size: 16px;
}
.galeria {
  height: 30vh;
}
.galeria-titulo h1 {
  font-family: "Poppins";
  font-size: 38px;
}
.galeria-contenedor img {
  width: 85%;
  border-radius: 5px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .contenido h1 {
    font-size: 50px;
  }
  .contenido-historia-img img {
    width: 60%;
  }
  .contenido2-contenedor {
    width: 65%;
  }
  .tienda-subtitulo {
    padding-left: 30px;
    padding-right: 30px;
  }
  .tienda-secciones {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  .contenido-historia-img img {
    width: 50%;
  }
  .footer-izq {
    width: 50%;
  }
  .footer-der {
    padding-top: 0.8rem;
    width: 50%;
    display: grid;
    grid-template-areas:
      "titulo"
      "logos";
    grid-template-rows: 0.5fr 1fr;
  }
  .footer-der h2 {
    grid-area: titulo;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: end;
  }
  .footer-der-redes {
    grid-area: logos;
    display: flex;
    justify-content: end;
  }
  .galeria-contenedor img:hover {
    transform: scale(1.04);
  }
}
