/* Inicio estilo footer */
.footer {
  background-color: #c08267;
  &-izq {
    p {
      font-family: "Inter";
    }
  }
  &-med {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  &-der {
    h2 {
      font-family: "Poppins";
      font-size: 22px;
      margin-top: 0.8rem;
      margin-bottom: 0.3rem;
    }
    .logoig {
      margin-right: 10px;
    }
  }
}
/* Fin estilo footer */
@media (min-width: 992px) {
  .footer-der {
    .logoig {
      margin-right: 13px;
    }
  }
}
